body{
    background-color: #32343a;
    color: white;
    font-family: serif;
    
}

header {
   text-align: center;
}

main {
    text-align: center;
}

footer {
    text-align: center;
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    margin: 4px 2px;
    border-radius: 12px;
}
  
.button.current{
    background-color: rgb(33, 85, 105);

}
.button:hover{
    background-color: rgb(95, 165, 165);
}
.button:active{
    background-color: rgb(58, 97, 97);
}

.cards{
   /*background-color: thistle;*/
}

.card{
   background-color: black;
    display: inline-table;
    margin: 20px;
    width: 160px;
    height: 210px;

}

.cardimg{
    background-color: rgb(21, 16, 27);
    width: 100%;
    height: width;
    margin: 0px;
    padding: 0px;

}

.card-title{
    color: white;
    background-color: black;   
    margin: 0px;
    padding: 0px;

    font-family: monospace;
    font-size: 1rem;
}

.card a{
   text-decoration: none;
}