body.dark {
  background-color: #32343a;
  color: white;
  font-family: serif;
}

body.light {
  background-color: #c4c4c4;
  color: rgb(12, 12, 12);
  font-family: serif;
}

header {
  text-align: center;
  width: inherit;
}

main {
  text-align: left;
  width: 60%;
  margin-left: 20%;
  /*70 mid , 15 left, 15 right = 100%*/
  font-size: 1.25rem;
}

@media only screen and (max-width: 600px) {
  main {
    width: 90%;
    margin-left: 5%;
    /*70 mid , 15 left, 15 right = 100%*/
  }
}

main.a5 {
  text-align: left;
  width: 30%;
  margin-left: 35%;
  /*70 mid , 15 left, 15 right = 100%*/
  font-size: 1.25rem;
}

main.centered_main {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  /*70 mid , 15 left, 15 right = 100%*/
  font-size: 1.25rem;
}

p {
  padding-bottom: 12px;
}

p a.dark {
  color: white
}

p a.light {
  color: rgb(10, 10, 10)
}

.centeredtext {
  text-align: center;
}

footer a {
  color: lightskyblue;
}

main p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
  margin: 4px 2px;
  border-radius: 12px;
}

.button.current {
  background-color: rgb(33, 85, 105);

}

.button:hover {
  background-color: rgb(95, 165, 165);
}

.button:active {
  background-color: rgb(58, 97, 97);
}

/*.cardWrapper{
   background-color: thistle;
}*/

.card {
  background-color: black;
  display: inline-table;
  margin: 1.25rem;
  width: 10rem;
  height: 12.5rem;
  border-radius: 0.625rem;
}

.card:hover {
  transform: scale(1.10);
}

.cardimg {
  width: 100%;
  height: width;
  margin: 0px;
  padding: 0px;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  background-color: rgb(21, 16, 27);

}



.card-title {
  color: white;
  background-color: black;
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 0.625rem;

}

.card a {
  text-decoration: none;
}










/*SLIDER*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}